body {
    background-color: #00558C;
 }
 .slider-form {
    box-shadow: 1rem 1rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255, .9);
    border-radius: 3px;
    color: gray;
    margin: 150px auto;
    padding-top: 1rem;
    width: 340px;
 }
 .slider-form > h2 {
    background-color: #ddd;
    color: #111;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    padding: .25rem;
    text-align: center;
 }
 .slider-form > h3 {
    color: #222;
    font-size: 1.25em;
    font-weight: 400;
    padding: 0 1.125rem;
    text-align: center;
    margin: 0;
 }
 .slider-form > form {
    padding: 1em;
 }
 .slider-form > form > .form-group {
    margin-bottom: .75rem;
 }
 .slider-form > form > button {
    background-color: #003354;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: .5rem;
    text-align: center;
    width: 100%;
 }
 .slider-form > form > .form-group > input {
    border: none;
    border-radius: .5rem .5rem 0 0;
    margin: 0;
    padding: 8px 10px;
    width: 100%;
 }
 